@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --mainCont: 7% 5%;
  --padding: 10px;
  --backColor: #fffcfc;
}
p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.2em;
  color: #646464;
}
.about h1,
.learn h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  color: #232323;
}
/* Navigation Bar Styling */
header {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.4); 
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.4);
}
.fixed {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  transition: .3s;
}
.fixed .nav_wrapper {
  padding: 1.5% 0%;
}
.nav_wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
  transition: .3s;
}
.full_menu {
  width: 70%;
  margin:auto;
}
.full_menu ul {
  display: flex;
  margin-top: 15px;
}
.full_menu ul li {
  padding: 10px;
}
.full_menu ul li a,
.user_log ul li a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #676a6f;
}
.user_log ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: var(--padding);
  margin-top: 15px;
}
.follow {
    display: grid;
    align-items: center;
    position: fixed;
    z-index:9999;
    left: -50%;
    top: 50%;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
    background: #3f9cad;
     transition:.5s;
}
.fop {
   left: 0%;
}
.follow a {
    color: #fff;
    font-size: 2rem;
}
#opsoc {
    cursor: pointer;
    padding: 10px;
    color: #3f9cad;
    position: fixed;
    left: 0%;
    transition:.5s;
}
#opsoc.fop{
    left: -5%;
    opacity: 0;
}
/* Mobile Menu */
.toggle_mobile {
  position: relative;
  top: 40px;
  right: 70px;
  transition: 0.5s;
}
.toggle_menu{
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background: var(--backColor);
     -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.4); 
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.4);
  transition: 0.5s;
}
.toggle_on {
  position: fixed;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
  background: #fff;
  z-index: 1;
}
.mob_menu {
  height: 100%;
  text-align: end;
}
.mob_menu ul {
  margin-right: 5%;
}
.mob_menu ul li {
  margin-bottom: 5px;
}
.mob_menu ul li a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #676a6f;
}
#open > line {
  transition: .3s;
}
.burger:nth-child(1) {
  stroke:  #EE8430;
  transform-origin: 0% 0%;
  transform: rotate(45deg) translate(5px, -5px);
}

.burger:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.burger:nth-child(3) {
  stroke: #EE8430;
  transform-origin: 0% 100%;
  transform: rotate(-45deg) translate(5px, 5px);
}

.mob_menu .user_log{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.mob_menu .user_log ul {
  margin: 0;
  width: 100%;
  text-align: center;
}
.mob_menu .user_log ul li a{
  font-size: large;
}

/* Main Content Styling */
.content:first-child {
  padding: 15% 5%;
}
.maincont {
    padding:5%;
}
.content {
  width: 100%;
  margin: auto;
  padding: var(--mainCont);
}
.welcome,
.about,
.learn {
  background-image: var(--backImg);
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome {
  --backImg: url("/images/welcome-to-preareo-header.jpg");
}
.welcome h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 85px;
  text-align: center;
  color: #ffffff;
}

/* Sencond Section Homepage */
.oval {
  background-color: var(--backColor);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 3% auto;
  padding: 20px;
  border-radius: 35px;
}
h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 65px;
  color: #232323;
}
/* Keypoints Grid */
.keypoints {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}
.points {
  width: 100%;
  position: relative;
  padding-bottom: 100px;
}
.points h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #000000;
}
.points p {
  width: 60%;
  margin: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.2em;
  color: #646464;
}
.img_wrap {
  background-color: var(--backColor);
  padding: 10px 0px;
}
.button_wrapper {
  margin: 30px;
}
.points .button_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0%;
}
.button {
  padding: calc(var(--padding) + 10px) 50px;
  background: #3f9cad;
  border-radius: 15px;
  transition: 0.5s;
}
.button:hover {
  padding: calc(var(--padding) + 15px) 55px;
  transition: 0.5s;
}
.button_wrapper a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* Foreclosure Section */
.content:nth-child(3) {
  background-color: var(--backColor);
}
.foreclose {
  display: flex;
}
.halfs {
  text-align: left;
}
.halfs:first-child {
  padding: var(--mainCont);
}
.halfs:first-child p {
  padding: 10px 0px;
}
/* Consult Section */
.consult {
  text-align: center;
}
.consult p {
  padding: var(--padding);
  width: 30%;
  margin: auto;
}
/* About Us */

.about {
  --backImg: url("/images/about/about-us.svg");
  background-size: contain;
}

.title_descript {
  text-align: center;
}
.description {
  width: 50%;
  padding: 5% 0%;
  margin: auto;
  text-align: justify;
}
.description p {
  line-height: 1.9em;
}
/* Learn More */
.learn {
  --backImg: url("/images/learn-more/learn-more.svg");
  background-size: contain;
}
/* Contact */
.wrap_form {
  width: 90%;
  margin: auto;
  padding: 5% 0%;
  margin-top: 5%;
  background-color: var(--backColor);
  border-radius: 38px;
}
form{
    width: 50%;
    margin: auto;
}
.wrap_form button{
  width: 50%;
  padding: 35px 0px;
  margin: 10px auto;
  border: none;
  outline: none;
  font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
}
.wrap_form button:nth-child(-n + 2) {
cursor:pointer;
background: #3F9CAD;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
border-radius: 5px;
font-family: DM Sans;
color: #FFFFFF;
}
.wrap_form button:last-child{
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
border-radius: 5px;
font-family: DM Sans;
color: rgba(103, 106, 111, 0.5);
}
.wrap_form button:last-child span {
  vertical-align: middle;
}
.input-container, textarea {
    position: relative; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 30px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
border-radius: 5px;
    border: 1px solid #e5e5e5;
  }
 .input-container span{
    position: absolute;
    margin: 11px 2px 4px 10px;
  }
  .input-field, input[type="password"]  {
    width: 100%;
    padding: 10px;
    outline: none;
    background:none;
  }

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],  
textarea{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
color: rgba(103, 106, 111, 0.5);
  }
  input[type="submit"] {
padding: var(--padding);
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
color: #FFFFFF;
background: #3F9CAD;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
border-radius: 5px;

  }
  /* Member Login */
  .wrap_form h2 {
    margin-bottom: 30px;
      text-align: center;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 59px;
color: rgba(103, 106, 111, 0.5);
  }
  input[type="password"]:focus ~ .forgot {
      opacity: 0;
      width: 0px;
      transition: .3s;
  }
  .forgot {
position: absolute;
width: 109px;
height: 33px;
right: 0;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
color: #0060FF;
transition: .3s;
  }
  .signin {
 width: 100%;
 margin: 5% 0%;
  }
  .signup {
      text-align: center;
  }
  .log_wrap {
    padding: 5% 0%!important;
  }
  .er {
    position: absolute;
    top: -20px;
    color: #f8a841;
}
/* Global Footer Style */
footer {
  padding: 5% 0%;
  background-color: var(--backColor);
}
.footer_logo {
  text-align: center;
}
.full_footer {
  padding: calc(var(--padding) + 10px) 0px;
}
.full_footer ul {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.full_footer ul li a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #676a6f;
}

/* Desktop Up */
@media (max-width: 1920px) and (min-width: 1200px) {
    .full_menu,
    .user_log {
        display: block;
    }
.toggle_menu {
    display: none;
}
}

@media (max-width: 1200px) and (min-width: 900px) { 
    .full_menu,
    .user_log {
        display: block;
    }
    .toggle_menu {
        display: none;
    }
    .points h1 {
        font-size: 30px;
    }
    .halfs:first-child {
        width:60%;
        padding: 3% 0%;
    }
    .halfs:nth-child(2) {
        width:40%;
        padding: 3% 0%;
    }
    .halfs h2 {
        font-size: 35px;
        line-height: 1.2em;
    }
    .halfs object {
        width:100%;
    }
    .button_wrapper a {
        font-size: 15px;
    }
}
@media (max-width: 900px) and (min-width: 768px){
    .full_menu,
    .user_log {
        display: none;
    }
  .button {
    padding: calc(var(--padding) + 10px) 20px;
  }
  .halfs object {
    height: 100%;
    max-height: 250px;
  }
  .wrap_form button{
  width: 70%;
  }
}
@media (max-width: 768px) and (min-width: 655px){
  .full_menu,
  .user_log {
      display: none;
  }
  .toggle_menu {
      display: block;
  }
  .mob_menu .user_log{
    display: block;
    position: absolute;
  }
  .button {
    padding: calc(var(--padding) + 10px) 20px;
  }
  .button_wrapper a {
  font-size: 14px;
}
  .oval {
    padding: var(--padding);
  }
  .points p{
    width: 80%;
  }
  .points h1 {
    font-size: 25px;
}
 .wrap_form button{
  width: 70%;
  }
h2 {
  font-size: 35px;
  line-height: 1.5em;
}
.halfs:first-child {
  padding: 0;
}

.halfs:first-child p {
  padding: 10px 0px;
}
  .halfs object {
    height: 100%;
    max-height: 300px;
  }
 
  .consult p {
    width: 50%;
  }
  .full_footer ul {
    display: block;
    text-align: center;
  }

}
@media (max-width: 655px) and (min-width: 414px){

  .full_menu,
  .user_log {
      display: none;
  }
  .toggle_menu {
      display: block;
  }
  .mob_menu .user_log{
    display: block;
    position: absolute;
  }
  .welcome h1 { 
      font-size: 22px;
      line-height: 1.5em;
  }
  .oval {
    padding: var(--padding);
  }
  .button_wrapper a {
    font-size: 12px;
  }
  h2 {
      font-size: 22px;
      line-height: 1.5em;
  }
  .keypoints {
      display: block;
  }

.foreclose {
  display: block;
}
 .wrap_form button{
  width: 70%;
  }
.halfs {
    text-align:center;
}
.halfs object {
    height: 100%;
    max-height: 350px;
}
.consult p {
  width: 100%;
  line-height: 1.5em;
}
.full_footer ul {
  width: 90%;
  margin: auto;
  text-align: center;
  display: block;
}
.about h1, .learn h1 {
  font-size: 30px;
  line-height: 1.5em;
}
.description {
  width: 80%;
}
.wrap_form { 
  padding: 10% 0%;
}
form {
  width: 90%;
}
input[type="submit"] {
  width: 100%;
  margin: 7% 0%;
}
.forgot {
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  bottom: -65%;
  left: 0;
  right: 0;
}
.signup p {
  font-size: 21px;
}
}
@media (max-width: 414px) {
    .full_menu,
    .user_log {
        display: none;
    }
    .toggle_menu {
        display: block;
    }
    .mob_menu .user_log{
      display: block;
      position: absolute;
    }
    .welcome h1 { 
        font-size: 22px;
        line-height: 1.5em;
    }
    .oval {
      padding: var(--padding);
    }
    .button_wrapper a {
      font-size: 12px;
    }
    .button {
  padding: 10px 50px;
        
    }
    h2 {
        font-size: 22px;
        line-height: 1.5em;
    }
    .keypoints {
        display: block;
    }

.foreclose {
    display: block;
}
 .wrap_form button{
  width: 70%;
  font-size:20px;
  }
.halfs {
    text-align:center;
}
.halfs object {
  height: 100%;
  max-height: 250px;
}
.consult p {
    width: 100%;
    line-height: 1.5em;
}
.full_footer ul {
    width: 90%;
    margin: auto;
    text-align: center;
    display: block;
}
.about h1, .learn h1 {
    font-size: 30px;
    line-height: 1.5em;
}
.description {
    width: 80%;
}
.wrap_form { 
    padding: 10% 0%;
}
form {
    width: 90%;
}
input[type="submit"] {
    width: 100%;
    margin: 7% 0%;
}
.forgot {
    width: auto;
    height: auto;
    position: absolute;
    text-align: center;
    bottom: -65%;
    left: 0;
    right: 0;
}
.signup p {
    font-size: 21px;
}
.footer_logo img {
    width:50%;
}
}